.categories {
}

.categories h2 {
  margin-bottom: 20px;
}
.categoryList {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 12px;
  color:#ffffff;
}
