.categories {
}

.categories h2 {
  margin-bottom: 20px;
}
.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 12px;
}
