.userInfoWithAvatar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userInfoWithAvatar img {
  object-fit: cover;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  gap: 20px;
}

.name {
  font-size: 12px;
}

.date {
  font-size: 12px;
}
