.footer {
  background-color: var(--bg);
  padding-top: 64px;
  padding-bottom: 64px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
}

.policiesContainer {
  display: flex;
  gap: 32px;
}

.logo{
  font-size: 30px;
  font-weight: 600;
}