.footer {
  background-color: var(--bg);
  padding-top: 64px;
  padding-bottom: 64px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.policiesContainer {
  display: flex;
  gap: 32px;
}

.logo{
  font-size: 30px;
  font-weight: 600;
}

.yearBlock{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .footerBottom {
   flex-direction: column;
   justify-content: flex-start;
  }
}