.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.postContainer {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
}

@media screen and (max-width: 1200px) {
  .postContainer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
