.post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #e8e8ea;
}

.postTop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.imgContainer {
  position: relative;
  aspect-ratio: 9/5;
}

.imgContainer img {
  object-fit: cover;
  border-radius: 12px;
}

.category {
  padding: 6px 12px;
  border-radius: 6px;
  background: #4b6bfb;
  color: white;
  font-size: 14px;
}

.postInfo {
  display: inline-flex;
  gap: 20px;
}

.body {
  font-size: 20px;
  line-height: 32px;
}

.body {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
  }
}

.body pre {
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .post {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .post {
    padding: 30px 20px;
  }
}

