.post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #e8e8ea;
}

.postTop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.imgContainer {
  position: relative;
  height: 462px;
}

.imgContainer img {
  object-fit: cover;
  border-radius: 12px;
}

.category {
  padding: 6px 12px;
  border-radius: 6px;
  background: #4b6bfb;
  color: white;
  font-size: 14px;
}

.postInfo {
  display: inline-flex;
  gap: 20px;
}

.body {
  font-size: 20px;
  line-height: 32px;
}

.body p,
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-top: 40px;
}
