.post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 840px;
  margin: 0 auto;
}

.postTop {
  display: flex;
  justify-content: space-between;
}

.editLink {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.editLink:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.imgContainer {
  position: relative;
  height: 462px;
}

.imgContainer img {
  object-fit: cover;
  border-radius: 12px;
}

.category {
  align-self: flex-start;
  padding: 6px 12px;
  border-radius: 6px;
  background: #4b6bfb;
  color: white;
  font-size: 14px;
}

.postInfo {
  display: inline-flex;
  gap: 20px;
}

.body {
  font-size: 20px;
  line-height: 32px;
}

.body p,
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-top: 40px;
}
