.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.postContainer {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
