.skeleton {
  background-color: rgba(0, 0, 0, 0.11);
  animation: identifier 2s ease-in-out 0.5s infinite normal none running;
  height: 20px;
  border-radius: var(--borderRadiusSm);
}

@keyframes identifier {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
