.signInPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--borderRadiusMd);
  border: 1px solid var(--borderColor);
  padding: 30px;
}

.container h1{
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  background-color: red;
  padding: 20px 10px;
  border-radius: var(--borderRadiusLg);
  color: white;
  font-weight: 500;
}

.btnsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bottomText {
  text-align: center;
  font-weight: 500;
}

.bottomText a {
  color: var(--primaryMainColor);
}

.bottomText a:hover {
  color: var(--primaryDarkColor);
}
