.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top h1 {
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
}

.storyImgUrl {
  padding: 10px 0;
  border: none;
  outline: none;
  background-color: transparent;
  min-width: 400px;
  font-size: 18px;
}

.title input {
  padding: 8px 20px;
}

.select {
  padding: 10px 20px;
  background-color: transparent;
  align-self: flex-start;
  min-width: 250px;
  border-radius: 4px;
}

.editor {
  display: flex;
  gap: 20px;
  position: relative;
  min-height: 300px;
}

.editor p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 20px;
}

.editor h1,
.editor h2,
.editor h3,
.editor h4,
.editor h5,
.editor h6 {
  margin-top: 20px;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.storyTitle {
  padding: 15px 0;
  font-size: 36px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
}

.storyTitle::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.publishBtn {
  padding: 10px 40px;
  align-self: flex-start;
}
